body {
    font-family: Arial;
    background: #5b8f66;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #cdd7ec;
}

.card {
    background: #dcd8a1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #888;
    padding: 6px;
    text-align: center;
}

th {
    background: #e7efff;
}

input[type=number], input[type=text] {
    width: 70px;
}

small {
    color: #555;
}

button {
    padding: 6px 12px;
    margin-right: 6px;
}
table td:first-child, table th:first-child, 
table td:nth-child(4), table th:nth-child(4),
table td:nth-child(6), table th:nth-child(6),
table td:nth-child(7), table th:nth-child(7) {
    text-align: left;
}